/*===========FONTS==============*/
  @font-face {
    font-family: Gotham-Light;
    src: url(./fonts/Gotham-Light.otf);
  }
  @font-face {
    font-family: GothamMedium;
    src: url(./fonts/GothamMedium.ttf);
  }
  @font-face {
    font-family: GothamBook;
    src: url(./fonts/GothamBook.ttf);
  }

  @font-face {
    font-family: RoxboroughCF-Light;
    src: url(./fonts/RoxboroughCF-Light.otf);
  }
  @font-face {
    font-family: RoxboroughCF-Regular;
    src: url(./fonts/RoxboroughCF-Regular.otf);
  }
  @font-face {
    font-family: RoxboroughCF-Bold;
    src: url(./fonts/RoxboroughCF-Bold.otf);
  }
  @font-face {
    font-family: RoxboroughCF-LightItalic;
    src: url(./fonts/RoxboroughCF-LightItalic.otf);
  }
  @font-face {
    font-family: RoxboroughCF-ThinItalic;
    src: url(./fonts/RoxboroughCF-ThinItalic.otf);
  }

  @font-face {
    font-family: LibreBaskerville-Regular;
    src: url(./fonts/LibreBaskerville-Regular.ttf);
  }
/*==============================*/

/*=======TOP LEVEL=======*/
  *, *:after, *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    cursor: url('images/blue_cursor.png') 5 5, auto; 
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  p, div, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  a {
    text-decoration: none;
    cursor: inherit;
  }
/*=========================*/

#main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-height: 100%;
  background-color: #FBF9F9;
}

/* Navigation Bar */
.navbar-selected {
  text-decoration: line-through;
}
@media screen and (max-width: 850px) {
  #sidebar {
    display: none;
  }
  #bottombar {
    position: fixed;
    padding-top: 40px;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
  }
  #bottombar a {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.9em;
    font-family: Gotham-Light;
    cursor: url('images/pink_cursor.png') 5 5, auto;
    color: #000000;
  }
}
@media screen and (min-width: 850px) {
  #bottombar {
    display: none;
  }
  #sidebar {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 125px;
    height: 100%;
    background-color: #FFFFFF;
  }
  #sidebar a {
    display: block;
    margin: 35px 0px 35px 0px;
    writing-mode: vertical-rl;
    font-size: 0.9em;
    text-orientation: sideways;
    font-family: Gotham-Light;
    cursor: url('images/pink_cursor.png') 5 5, auto;
    color: #000000 
  }
}

/* Content */
#content { 
  position: relative;
}
@media screen and (max-width: 850px) {
  #content {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (min-width: 850px) {
  #content {
    margin-right: 125px;
    margin-left: 5px;
    padding-right: 10%;
  }
}


/* Name */
#name {
  font-family: GothamBook;
}
@media screen and (max-width: 850px) {
  #name {
    margin-top: 75px;
    font-size: 1em;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media screen and (min-width: 850px) {
  #name {
    height: 170px;
    padding-top: 40px;
    font-size: 0.9em;
  }
}


/* Arrow */
@media screen and (max-width: 850px) {
  #arrow-svg {
    display: none;
  }
}
@media screen and (min-width: 850px) {
  #arrow-svg {
    position: relative;
    top: 35px;
    flex: 0 0 100px;
    height: 200px;
    margin-left: 2%;
  }
  .top {
    stroke-dasharray: 500;
    stroke-dashoffset: 10;
    animation: mid-svg 0.5s linear;
  }
  .middle {
    stroke-dasharray: 500;
    stroke-dashoffset: 10;
    animation: mid-svg 0.5s linear;
  }
  .bottom {
    stroke-dasharray: 500;
    stroke-dashoffset: 10;
    animation: mid-svg 0.5s linear;
  }
  @keyframes mid-svg {
    from {
      stroke-dashoffset: -400;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}


/* Intro */
.intro {
  position: relative;
  font-family: RoxboroughCF-Light;
}
@media screen and (max-width: 850px) {
  .intro {
    line-height: 1.8em;
    font-size: 3.1em;
  }
}
@media screen and (min-width: 850px) {
  .intro {
    line-height: 1.8em;
    font-size: 3.5em;
  }
}

#intro-nickname {
  font-family: GothamMedium;
  height: 37px;
  display: inline-block;
  position: relative;
  top: 1px;
}

#intro-amika {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 40px;
  cursor: url('images/pink_cursor.png') 5 5, auto;
}
#intro-amika-logo {
  background-image: url(images/amika.svg);
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}
#intro-amika-underline {
  width: 100%;
  height: 100%;
  background-image: url(images/underline.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  display: inline-block;
  position: absolute;
  top: 10px;
  background-size: 200% auto;
}

#intro-ct {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 40px;
  margin-left: 5px;
  margin-right: 70px;
  cursor: url('images/pink_cursor.png') 5 5, auto;
}
#intro-ct-a {
  width: 100%;
  height: 100%;
  position: absolute;
}
#intro-ct-logo {
  background-image: url(images/ct_logo.svg);
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 1px;
}
#intro-ct-underline {
  width: 100%;
  height: 100%;
  background-image: url(images/underline.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  display: inline-block;
  position: absolute;
  top: 10px;
  background-size: 110% auto;
}


.default-cursor {
  cursor: inherit;
}

#intro-period {
  position: absolute;
  right: -20px;
  top: -30px;
}

#intro-bold {
  font-family: RoxboroughCF-Bold;
}


#intro-two {
  margin-top: 50px;
  margin-bottom: 50px;
}


/* Insta famous */
#insta-famous {
  display: inline-block;
  position: relative;
}
#underline-svg {
  position: absolute;
}
#instagram-handle {
  display: inline-block;
  position: absolute;
  right: 13px;
  font-family: GothamBook;
  font-size: 0.28em;
  cursor: url('images/pink_cursor.png') 5 5, auto;
  color: #000000;
}
#instagram-handle a {
  color: #000000;
}

@media screen and (max-width: 850px) {
  #underline-svg {
    width: 285px;
    top: 65px;
  }
  #instagram-handle {
    top: 60px;
  }
}
@media screen and (min-width: 850px) {
  #underline-svg {
    width: 333px;
    top: 73px;
  }
  #instagram-handle {
    top: 66px;
  }
}
.underline-svg-path {
  stroke-dasharray: 800;
  stroke-dashoffset: 0;
}
.underline-svg-path-animation {
  animation: underline-svg-keyframe 1s linear;
}
@keyframes underline-svg-keyframe {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}


#get-in-touch {
  position: relative;
  top: -5px;
  height: 60px;
  width: 250px;
  background: transparent;
  color: #000000;
  font-family: GothamBook;
  font-size: 0.35em;
  border: solid #000000 2px;
  text-decoration: none;
  text-align: center;
  cursor: url('images/pink_cursor.png') 5 5, auto; 
}
@media screen and (max-width: 850px) {
  #get-in-touch {
    display: block;
    height: 100px;
    width: 98%;
    font-size: 0.35em;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    line-height: 105px;
  }
}
@media screen and (min-width: 850px) {
  #get-in-touch {
    display: inline-block;
    top: -5px;
    height: 60px;
    width: 250px;
    font-size: 0.35em;
    line-height: 67px;
  }
}

#get-in-touch:hover {
  color: #FFFFFF;
  background-color: #0000FF;
  border: solid #0000FF 2px;
  text-decoration: none;
}

#more-info {
  margin-top: 20px;
  font-family: RoxboroughCF-Bold;
  font-size: 3.5em;
}

.subheader {
  margin-top: 75px;
  margin-bottom: 30px;
  text-decoration: underline;
  font-size: 1.2em;
  font-family: GothamBook;
}

/* Education */
.edu-univ {
  font-size: 1.2em;
  font-family: GothamBook;
}

.edu-date {
  color: #666666;
  font-size: 1.05em;
  font-family: RoxboroughCF-ThinItalic;
}

/* Language */
#english-language {
  width: 500px;
}
#chinese-language {
  width: 500px;
}
.language-title {
  font-size: 1.2em;
  font-family: GothamBook;
  margin-bottom: 15px;
}
.language-fluent {
  position: relative;
  right: -60%;
  color: #666666;
  font-family: RoxboroughCF-ThinItalic;
}
.date-from {
  position: relative;
  color: #666666;
  font-family: RoxboroughCF-ThinItalic;
}
.date-to {
  position: relative;
  right: -410px;
  color: #666666;
  font-family: RoxboroughCF-ThinItalic;
}
.language-bar {
  width: 100%;
}

/* Skill Set */
.skill-set {
  font-size: 1.2em;
  font-family: GothamBook;
  margin-bottom: 15px;
}

/* Footer */
footer {  
  padding-top: 80px;
  padding-bottom: 35px;
  font-size: 0.8em;
  font-family: GothamBook;
}
